<a href="https://colab.research.google.com/github/Hemu2503/EDA-DA/blob/main/Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[GITHUB LINK](https://github.com/Hemu2503/EDA-DA)

https://github.com/Hemu2503/EDA-DA

## Module 1: Introduction to Exploratory Data Analysis (EDA)

In [ ]:
# Importing the necessary libraries
import pandas as pd

# Load the dataset from the new GitHub link
url = 'https://github.com/Hemanth-Vundavilli/EDA-DA/blob/main/Benefits.csv?raw=true'
data = pd.read_csv(url)

data.head()

,rownames,stateur,statemb,state,age,tenure,joblost,nwhite,school12,sex,bluecol,smsa,married,dkids,dykids,yrdispl,rr,head,ui
0,1,4.5,167,42,49,21,other,no,no,male,yes,yes,no,no,no,7,0.290631,yes,yes
1,2,10.5,251,55,26,2,slack_work,no,no,male,yes,yes,no,yes,yes,10,0.520202,yes,no
2,3,7.2,260,21,40,19,other,no,yes,female,yes,yes,yes,no,no,10,0.432490,yes,yes
3,4,5.8,245,56,51,17,slack_work,yes,no,female,yes,yes,yes,no,no,10,0.500000,no,yes
4,5,6.5,125,58,33,1,slack_work,no,yes,male,yes,yes,yes,yes,yes,4,0.390625,yes,no

## Step 2: Explore the Dataset
### Dimensions of the Dataset

In [ ]:
data.shape

(4877, 19)

### Summary of the Dataset

In [ ]:
data.describe(include='all')

,rownames,stateur,statemb,state,age,tenure,joblost,nwhite,school12,sex,bluecol,smsa,married,dkids,dykids,yrdispl,rr,head,ui
count,4877.000000,4877.000000,4877.000000,4877.000000,4877.000000,4877.000000,4877,4877,4877,4877,4877,4877,4877,4877,4877,4877.000000,4877.000000,4877,4877
unique,NaN,NaN,NaN,NaN,NaN,NaN,4,2,2,2,1,2,2,2,2,NaN,NaN,2,2
top,NaN,NaN,NaN,NaN,NaN,NaN,slack_work,no,no,male,yes,yes,yes,no,no,NaN,NaN,yes,yes
freq,NaN,NaN,NaN,NaN,NaN,NaN,2322,4159,3950,3727,4877,3183,3086,2508,3796,NaN,NaN,3319,3335
mean,2439.000000,7.511031,180.660242,52.808079,36.129998,5.664138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.203609,0.438366,NaN,NaN
std,1408.012962,2.500579,43.241595,25.834967,10.600737,6.279938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.095116,0.106194,NaN,NaN
min,1.000000,2.200000,84.000000,11.000000,20.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.038610,NaN,NaN
25%,1220.000000,5.700000,150.000000,31.000000,28.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,0.375212,NaN,NaN
50%,2439.000000,7.200000,177.000000,55.000000,34.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,0.490446,NaN,NaN
75%,3658.000000,9.000000,205.000000,74.000000,43.000000,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,0.511574,NaN,NaN
max,4877.000000,18.000000,293.000000,95.000000,61.000000,41.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,0.691176,NaN,NaN

### Missing Values Count

In [ ]:
data.isnull().sum()

rownames    0
stateur     0
statemb     0
state       0
age         0
tenure      0
joblost     0
nwhite      0
school12    0
sex         0
bluecol     0
smsa        0
married     0
dkids       0
dykids      0
yrdispl     0
rr          0
head        0
ui          0
dtype: int64

### Numerical Summary

In [ ]:
data.describe()

,rownames,stateur,statemb,state,age,tenure,yrdispl,rr
count,4877.000000,4877.000000,4877.000000,4877.000000,4877.000000,4877.000000,4877.000000,4877.000000
mean,2439.000000,7.511031,180.660242,52.808079,36.129998,5.664138,5.203609,0.438366
std,1408.012962,2.500579,43.241595,25.834967,10.600737,6.279938,3.095116,0.106194
min,1.000000,2.200000,84.000000,11.000000,20.000000,1.000000,1.000000,0.038610
25%,1220.000000,5.700000,150.000000,31.000000,28.000000,2.000000,2.000000,0.375212
50%,2439.000000,7.200000,177.000000,55.000000,34.000000,3.000000,5.000000,0.490446
75%,3658.000000,9.000000,205.000000,74.000000,43.000000,7.000000,8.000000,0.511574
max,4877.000000,18.000000,293.000000,95.000000,61.000000,41.000000,10.000000,0.691176

## Conclusion
This notebook serves as a foundational overview of the dataset, encompassing loading and initial exploration. We'll delve deeper into the data through more extensive exploratory data analysis (EDA) in the upcoming modules.